.notification {
    height: 70px;
    border-radius: 5px;
    width: 300px;
    position: absolute;
    top: 110px;
    right: 25px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 15px;
    font-weight: bold;
}