.cart__container {
    display: flex;
    flex-direction: column;
    width: 40%;
    font-size: 20px;
}

.cart__container__title {
    text-align: center;
}

.cart__container__table {
    text-align: center;
    list-style: none;
    color: white;
}
.cart__table__headers{
    margin: 20px;
}

.cart__container__card{
    background-color: black;
    display: flex;
    justify-content: space-between;
    padding: 5px;
}