.cart__logo{
    width: 45px;
}
.cart__qty{
    position: relative;
    &::before{
        content: attr(data-count);
        position: absolute;
        bottom: 25px;
        left: 45px;
        width: 29px;
        height: 29px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: bold;
        border-radius: 50%;
        background-color: red;
        color: white;
    }
}

@media only screen and (min-width:320px) and (max-width: 500px){
    .cart__logo{
        width: 30px;
    }
    .cart__qty{
        &::before{
            bottom: 25px;
            left: 29px;
            width: 22px;
            height: 22px;
        }
    }
}