.product__list{
    list-style: none;
    display: flex;
    flex-direction: column;
    max-width: 700px;
    color: black;
}

.product__img{
    border-radius: 5px;
    height: 200px;
    width: 300px;
    object-fit: contain;
}

.product__item{
    background-color: white;
    width: 600px;
    display: flex;
    justify-content: center;
    padding: 20px;
    margin: 0 0 10px;
}

.product__info{
    padding-left: 30px;
}
.filter__container{
    border: 2px solid white;
    margin: 20px 0;
    padding: 20px;
}

.filter{
    display: flex;
    list-style: none;
    justify-content: space-between;
    margin: 20px 0;
}

.link{
    padding: 10px;
    background: rgb(158, 154, 154);
    font-weight: bold;
    border-radius: 5px;
    margin: 10px;
}


.active{
    padding: 10px;
    background: rgb(158, 154, 154);
    font-weight: bold;
    border-radius: 5px;
    border: 2px solid red;
    margin: 10px;
}

